## Estructuras de datos en Python
Otros tipos son: listas , tuplas, conjuntos(set),diccionarios.

# Un conjunto (Set)
Es una estructura de datos que se utiliza para almacenar múltiples elementos en una única variable. Es una colección desordenada de elementos únicos y no admite duplicados.

In [ ]:
un_conjunto = {"apple", "banana", "cherry","apple"}
print(un_conjunto)

Las principales características de un conjunto en Python son las siguientes:

* Desordenado
* No cambiable (inmutable individualmente)
* No indexado
* Elementos únicos

In [ ]:
# Crear un conjunto con elementos
my_set = {1, 2, 3, 4}
my_set

{1, 2, 3, 4}

In [ ]:
# Agregar elementos al conjunto
my_set.add(5)
my_set

{1, 2, 3, 4, 5}

In [ ]:
# Eliminar elementos del conjunto
#my_set.remove(3)
#my_set

In [ ]:
#funcion precostruido de python
type(my_set)

set

Estas colecciones son conjuntos ordenados de elementos: las *tuplas* se demarcan con paréntesis, las *listas* con corchetes, los diccionarios con llaves.

In [ ]:
una_lista = [1, 2, 3.0, 4 + 0j, "5"]
una_tupla = (1, 2, 3.0, 4 + 0j, "5")
print(una_lista)
print(una_tupla)
print(una_lista == una_tupla)

[1, 2, 3.0, (4+0j), '5']
(1, 2, 3.0, (4+0j), '5')
False

Para las tuplas, podemos incluso obviar los paréntesis:

In [ ]:
tupla_sin_parentesis = 2,5,6,9,7

tupla_sin_parentesis

(2, 5, 6, 9, 7)

En los dos tipos podemos:

* Comprobar si un elemento está en la secuencia con el operador `in`:

In [ ]:
2 in una_lista

True

In [ ]:
2 in una_tupla

True

* Saber cuandos elementos tienen con la función `len`:

In [ ]:
len(una_lista)

5

In [ ]:
len(una_tupla)

5

* Podemos *indexar* las secuencias, utilizando la sintaxis `[<inicio>:<final>:<salto>]`:

In [ ]:
una_tupla[3]

(4+0j)

In [ ]:
una_lista[0::2]

[1, 3.0, '5']

In [ ]:
una_lista[2] = 10  # Cambia el tercer elemento a 10
print(una_lista)

[2, (4+0j), 10, 6, 'hola', 1, 1]

In [ ]:
una_tupla

(1, 2, 3.0, (4+0j), '5')

In [ ]:
del una_tupla[1]

TypeError: ignored

In [ ]:
una_lista.append(1)  # Agrega el número 6 al final de la lista
print(una_lista)

[2, (4+0j), '5', 6, 'hola', 1, 1]

In [ ]:
una_lista.remove(3.0)  # Elimina el elemento con valor 2
del una_lista[0]  # Elimina el primer elemento de la lista delete
print(una_lista)

[2, (4+0j), '5', 6, 'hola']

Listas y Tuplas

* Ordenada
* Mutable(Inmutables)
* Admite duplicados
* Indexada


---


 A diferencia de las listas y las tuplas, los **diccionarios** no están ordenados secuencialmente y los elementos se acceden mediante claves en lugar de índices. Cada clave en un diccionario debe ser única y está asociada a un valor específico.

In [ ]:
# Crear un diccionario vacío
my_dict = {}

# Crear un diccionario con elementos
my_dict = {"nombre": "Juan", "edad": [24,3,6,6], "ciudad": "Madrid"}

In [ ]:
my_dict["edad"]

[24, 3, 6, 6]

In [ ]:
# Acceder a elementos de un diccionario por clave
print(my_dict["nombre"])  # Imprime: Juan
print(my_dict.get("edad"))  # Imprime: 25

Juan
25

In [ ]:
# Modificar elementos de un diccionario
my_dict["edad"] = 30

# Agregar nuevos elementos a un diccionario
my_dict["ocupacion"] = "Ingeniero"

In [ ]:
my_dict

{'nombre': 'Juan', 'edad': 30, 'ciudad': 'Madrid', 'ocupacion': 'Ingeniero'}

In [ ]:
del my_dict["ciudad"]

In [ ]:
# Eliminar elementos de un diccionario
my_dict

{'nombre': 'Juan', 'edad': 30, 'ocupacion': 'Ingeniero'}

In [ ]:
"ciudad" in my_dict

False

In [ ]:
# Verificar si una clave está en el diccionario
if "ciudad" in my_dict:
    print("La clave está en el diccionario.")

# Funciones en Python

_En esta clase continuaremos con nuestra introducción a Python.
Lo más importante para programar, y no solo en Python, es saber organizar el código en piezas más pequeñas que hagan tareas independientes y combinarlas entre sí. Las **funciones** son el primer nivel de organización del código: reciben unas *entradas*, las *procesan* y devuelven unas *salidas*._

Aquí hay reglas simples para definir una función en Python:

* Los bloques de funciones comienzan con <code>def</code> seguidos de la función <code>name</code> y paréntesis <code>()</code>.
* Hay parámetros de entrada o argumentos que deben colocarse entre estos paréntesis.
* También puede definir parámetros dentro de estos paréntesis.
* Hay un cuerpo dentro de cada función que comienza con dos puntos (<code>:</code>) y luego con sangria.
* La instrucción <code>return</code> sale de una función y, opcionalmente, devuelve un valor.

Un ejemplo de una función que se suma al parámetro <code>a</code> imprime y devuelve el resultado como <code>b</code>:

In [ ]:
# First function example: Add 1 to a and store as b

def add(a):
    b = a + 1
    print(a, "if you add one", b)

    return(b)

add(2.6)

2.6 if you add one 3.6

3.6

In [ ]:
add("a")  #Esto solo adminite valores numericos

TypeError: ignored

In [ ]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    print('This is not printed')
    return(c)


result = Mult(12,2)
result

This is not printed

24

Ejemplos de funciones prefabricadas en python son:
PRINT(),len(),input()

Ahora probemos haciendo una función con un contexto en Física

Comencemos por definir una función sencilla, que pase de grados fahrenheit a kelvin. Recordemos que:

$$T(K) = (T(°F) - 32) \cdot 5/9 + 273.15$$

In [ ]:
def fahr_to_kelvin(temp):

    return ((temp - 32) * (5/9)) + 273.15

Vemos que la función se define comenzando con la palabra clave `def` seguido del `nombre_de_la_funcion` y a continuación, entre paréntesis, los argumentos de entrada. La cabercera de la función termina con dos puntos, `:`.

Le sigue el cuerpo de la función, indentado con cuatro espacios y finaliza con un `return` y los argumentos de salida. Si una función no devuelve nada, no hace falta usar un `return` (ni aunque esté vacío). La definición de la función termina cuando la indentación vuelve a su nivel inicial.

Probemos la función:

In [ ]:
# Punto de solidificación del agua 32 F
print('Punto de solidificación del agua en Kelvin es :', fahr_to_kelvin(32))

Punto de solidificación del agua en Kelvin es : 273.15

In [ ]:
# Punto de ebullición del agua 212 F
print('Punto de ebullición del agua en Kelvin es :', fahr_to_kelvin(212))

Punto de ebullición del agua en Kelvin es : 373.15

## Funciones que llaman a otras funciones
Depende de que tan creativos nos queramos poner

In [ ]:
#Definamos una función para pasar de Kelvin a Celsius:
def kelvin_to_celsius(temp):
    return temp - 273.15

In [ ]:
#El famoso cero absoluto
print('Cero absoluto en Celsius:', kelvin_to_celsius(0.0))

Cero absoluto en Celsius: -273.15

Si ahora queremos convertir de Farenheit a Celsius, podemos usar la función que ya teníamos definida:

In [ ]:
def fahr_to_celsius(temp):

    temp_k = fahr_to_kelvin(temp)

    result = kelvin_to_celsius(temp_k)

    return result

print('Punto de solificación del agua en Celsius:', fahr_to_celsius(32.0))

Punto de solificación del agua en Celsius: 0.0

Es importante resaltar que las variables que se crean dentro de las funciones no son accesibles una vez que termina la ejecución de la función. En cambio, la función si que puede acceder a cosas que se han definido fuera de ella.

---
 :
* Hemos visto cómo se define una función con la palabra clave `def`, el nombre de la función y sus argumentos.
* El cuerpo de la función debe estar indentado
* Los argumentos se devuelven con la palabra clave `return`

## Estructuras de control : Bucles

En Python existen dos tipos de estructuras de control típicas:

1. Bucles `while`
2. Bucles `for`

Los bucles `while` repetiran las sentencias anidadas en él mientras se cumpla una condición:

    while <condition>:
        <things to do>

Como en el caso de los condicionales, los bloques se separan por indentación sin necesidad de sentencias del tipo `end`

In [ ]:
ii = -2

while ii < 5:
    print(ii)
    ii += 1

-2
-1
0
1
2
3
4

<div class="alert alert-info"><strong>Tip</strong>:
`ii += 1` equivale a `ii = ii + 1`. En el segundo Python, realiza la operación ii + 1 creando un nuevo objeto con ese valor y luego lo asigna a la variable ii; es decir, existe una reasignación. En el primero, sin embargo, el incremento se produce sobre la propia variable. Esto puede conducirnos a mejoras en velocidad.

Otros operadores 'in-place' son: `-=`, `*=`, `/=`
</div>

Se puede interrumpir el bucle a la mitad con la sentencia `break`:

In [ ]:
ii = 0

while ii < 5:
    print(ii)
    ii += 1

    if ii == 4 :
       break

0
1
2
3

Un bloque `else` justo después del bucle se ejecuta si este no ha sido interrumpido por nosotros:

In [ ]:
ii = 0
while ii < 5:
    print(ii)
    ii += 1
    if ii == 3:
        break
    else:
      print("El bucle no ha terminado")

0
El bucle no ha terminado
1
El bucle no ha terminado
2

 es posible que desee repetir una operación determinada muchas veces.

Analicemos el objeto <code>range</code>. Es útil pensar en el objeto de rango como una lista ordenada. Por ahora, veamos el caso más simple. Si quisiéramos generar un objeto que contenga elementos ordenados del 0 al 2 simplemente usamos el siguiente comando:

In [ ]:
range(3)

range(0, 3)

range(start, stop, step)

* Inicio  :Un número entero que especifica en qué posición comenzar
* Detener : Un número entero que especifica en qué posición detenerse (no incluido).
* Paso : Es opcional, un número entero que especifica el incremento. El valor predeterminado es 1

In [ ]:
range()

El otro bucle en Python es el bucle `for`, y funciona de manera un que puede resultar chocante al principio. La idea es recorrer un conjunto de elementos:


        for <elemento> in <iterable_object>:
          <hacer lo que sea...>

En estos ejemplos podemos imprimir una secuencia de números:

In [ ]:
#Usando range para iterar
for n in range(3):
  print(n)

0
1
2

ejemplo mas simple con caracteres:

In [ ]:
for nombre in {"Juan", "Luis", "Carlos"}:
    print(nombre)

Juan
Luis
Carlos
25

ejemplo simple con los arreglos antes vistos:

In [ ]:
#Usando una tupla para iterar
for n in (0,2,5,0.5,5+2j):
  n=n+3+5j
  print(n)

(3+5j)
(5+5j)
(8+5j)
(3.5+5j)
(8+7j)

In [ ]:
# Usando una lista

dates = [1982,1980,1973]

for year in dates:
    print(year)

1982
1980
1973

Para cada iteración, el valor de la variable <code>year</code> se comporta como el valor de <code>dates[i]</code>..

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/LoopsForList.gif" width="800">

Podemos cambiar los elementos de una lista:

In [ ]:
# Usando loops para cambiar elementos de una lista

colors_list = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Antes en la lista ", i, 'es',  colors_list[i])
    colors_list[i] = 'white'
    print("Despues en la lista ", i, 'es',  colors_list[i])

Antes en la lista  0 es red
Despues en la lista  0 es white
Antes en la lista  1 es yellow
Despues en la lista  1 es white
Antes en la lista  2 es green
Despues en la lista  2 es white
Antes en la lista  3 es purple
Despues en la lista  3 es white
Antes en la lista  4 es blue
Despues en la lista  4 es white

In [ ]:
colors_list

['white', 'white', 'white', 'white', 'white']

**La principal diferencia entre un bucle while y un bucle for en Python es cómo controlan el flujo de ejecución y manejan las iteraciones.**

### Punto clave de While Loop:

1. Un ciclo while ejecuta repetidamente un bloque de código siempre que una condición dada sea verdadera.
2. No tiene un número fijo de iteraciones sino que continúa ejecutándose hasta que la condición se vuelve falsa.
3. La condición se verifica antes de cada iteración y, si inicialmente es falsa, el bloque de código se omite por completo.
4. La condición generalmente se basa en una variable o expresión que puede cambiar durante la ejecución del bucle.
5. Brinda más flexibilidad en términos de controlar la ejecución del bucle en función de las condiciones dinámicas.

### Punto clave de For Loop:

1. Un bucle for itera sobre una secuencia (como una lista, una cadena o un rango) o cualquier objeto que admita la iteración.
2. Tiene un número predefinido de iteraciones basado en la longitud de la secuencia o el número de elementos para iterar.
3. Maneja automáticamente la iteración y no requiere mantener una variable separada para rastrear el conteo de iteraciones.
4. Simplifica el código al encapsular la lógica de iteración dentro del propio bucle.
5. Se usa comúnmente cuando conoce el número exacto de iteraciones o necesita iterar sobre cada elemento de una colección.

In [ ]:
from sympy import *
from sympy.abc import *    # Todo lo que escriba lo va entender como simbolo

In [ ]:
x+3

x + 3

In [ ]:
expr = exp(x)

In [ ]:
series(expr,n=2)

1 + x + O(x**2)

In [ ]:
for n in [0,1,2,3,4,5]:
  display(series(expr,n=n))

O(1)

1 + O(x)

1 + x + O(x**2)

1 + x + x**2/2 + O(x**3)

1 + x + x**2/2 + x**3/6 + O(x**4)

1 + x + x**2/2 + x**3/6 + x**4/24 + O(x**5)